/* CSS Boilerplate */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Reusable Css */
.container{
  padding: 0 100px;
}

.section{
  padding-top: 60px;
  padding-bottom: 60px;
}

.text-center{
  text-align: center;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #264788;
  height: 55px;
}
.links a ,
.links span{
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.social{
  display: flex;
  gap: 10px;
}

.portal button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  border: 1px solid white;
  border-radius: 5px;
}
.links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-links a {
  color: white;
  text-decoration: none;
}

/* navbar */
.navbar{
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo{
  text-align: center;
}

.logo img{
  height: 50px;
}

.search-btn input{
  height: 36px;
  width: 700px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 0.5px solid gray;
  outline: none;
  padding-left: 12px;
  font-size: 16px;
}

.search-btn button{
  height: 36px;
  width: 36px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  outline: none;
  border: 0.5px solid gray;
  background-color: white;
  font-size: 16px;
}

.admission button{
  font-size: 16px;
  background-color: #dd4a2a;
  color: white;
  border-radius: 8px;
  border: 1px solid white;
  padding: 8px 16px;

}
.search-group{
  display: flex;
  gap: 10px;
}

.search-btn{
  display: flex;
}

/*hero section*/  
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9ecf3;
}

.hero-img img{
  height: 360px;
}

.hero-content{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-us{
  font-size: 26px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.community{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.connect{
  display: flex;
  gap: 10px;
}

.whatsapp{
  background-color: #00a884;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
.facebook{
  background-color: #264788;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

/* partner section */
.partner{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.partner h1{
  font-size: 32px;
}
.partner p{
  font-size: 16px;
}
.partner img{
  height: 100px;
  padding: 0 10px;
}
/*aboutsection*/
.about-section{
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  
}
.service button{
  background-color: #264788;
  color: white;
  padding: 6px 12px;
  font-size: 16px;
  border-color: transparent;
  border-radius: 8px;
  width: 200px;


}
.service h1{
  font-size: 32px;
  color: black;
  margin: 0px 0px 16px;
}

.service{
  display: flex;
  flex-direction: column;
}
/* class */
.upcoming-class{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 40px;
  
}

.class-btn{
  text-align: end;
  font-size: 20px;
}

.div-a{
  text-decoration: none;
}

/* card */
.card-grp{
  display: flex;
  justify-content: space-around;
}

.card{
  box-shadow: 0px 0px 20px 0px rgb(90, 83, 83);
  border-radius: 8px;
  width: 310px;

}
.card-img{
  padding: 8px;
  border-radius: 8px;

}
.card-img img{
  height: 200px;
  width: 300px;
  object-fit: contain;
}
.card-content{
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-content .price{
  color: gray;
  font-size: 16px;
}
.price span{
  color: red;
  text-decoration: line-through;
}
.card-content .title{
  color: black;
  font-weight: bold;
  font-size: 16px;
}
.description span{
  font-weight: bold;
}
.class-details{
  border: 0.5px solid rgb(196, 196, 196);
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.duration,
.time,
.type{
text-align: center;  
}
.type{
  border-left: 0.5px solid rgb(196, 196, 196);
  border-right: 0.5px solid rgb(196, 196, 196) ;
  padding: 0 15px;
}
.duration h4,
.type h4,
.time h4{
  font-weight: bold;
  font-size: 14px;
}
.duration p,
.type p,
.time p{
  font-size: 12px;
  color: gray;
}
/* get admission */
.background{
  background-color: #fcece9;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;

  
}
.title{
  color: #dd4a2a;
  font-size: 32px;
  margin: 0px 0px 8px;
  

}

.description{
  text-align: center;
  height: 50px;
  font-size: 16px;
}

.btn{
  background-color: #dd4a2a;
  color:#ffffff;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 8px;
  height: 40px;
  width: 360px;
  transition: all .5s;
}
.btn:hover{
  background-color: #a13a22;
}