/* CSS Boilerplate */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Reusable Css */
.container{
  padding: 0 100px;
}

.section{
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #264788;
  height: 55px;
}
.links a ,
.links span{
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.social{
  display: flex;
  gap: 10px;
}

.portal button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  border: 1px solid white;
  border-radius: 5px;
}
.links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-links a {
  color: white;
  text-decoration: none;
}

/* navbar */
.navbar{
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo{
  text-align: center;
}

.logo img{
  height: 50px;
}

.search-btn input{
  height: 36px;
  width: 700px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 0.5px solid gray;
  outline: none;
  padding-left: 12px;
  font-size: 16px;
}

.search-btn button{
  height: 36px;
  width: 36px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  outline: none;
  border: 0.5px solid gray;
  background-color: white;
  font-size: 16px;
}

.admission button{
  font-size: 16px;
  background-color: #dd4a2a;
  color: white;
  border-radius: 8px;
  border: 1px solid white;
  padding: 8px 16px;

}
.search-group{
  display: flex;
  gap: 10px;
}

.search-btn{
  display: flex;
}

/*hero section*/  
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9ecf3;
}

.hero-img img{
  height: 360px;
}

.hero-content{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-us{
  font-size: 26px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.community{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.connect{
  display: flex;
  gap: 10px;
}

.whatsapp{
  background-color: #00a884;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
.facebook{
  background-color: #264788;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

/* partner section */
.partner{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.partner h1{
  font-size: 32px;
}
.partner p{
  font-size: 16px;
}
.partner img{
  height: 100px;
  padding: 0 10px;
}
/*aboutsection*/
.about-section{
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  
}
.service button{
  background-color: #264788;
  color: white;
  padding: 6px 12px;
  font-size: 16px;
  border-color: transparent;
  border-radius: 8px;
  width: 200px;


}
.service h1{
  font-size: 32px;
  color: black;
  margin: 0px 0px 16px;
}

.service{
  display: flex;
  flex-direction: column;
}

