.background{
    background-color: antiquewhite;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.title{
    color: chocolate;
    font-size: 40px;
    

}

.description{
    text-align: center;
    height: 50px;
}

.btn{
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}